{
  "log": {
    "_recordingName": "fetch-channel-members",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.1.0"
    },
    "entries": [
      {
        "_id": "d3eeeba4e36ec2c0ecaf017c913f008f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "token=fake-token"
          },
          "queryString": [],
          "url": "https://slack.com/api/conversations.list"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 2871,
            "text": "{\"ok\":true,\"channels\":[{\"id\":\"CV1LQUHFD\",\"name\":\"testing-j1\",\"is_channel\":true,\"is_group\":false,\"is_im\":false,\"created\":1584118277,\"is_archived\":false,\"is_general\":false,\"unlinked\":0,\"name_normalized\":\"testing-j1\",\"is_shared\":false,\"parent_conversation\":null,\"creator\":\"UVCM2RN84\",\"is_ext_shared\":false,\"is_org_shared\":false,\"shared_team_ids\":[\"T0101B8GP38\"],\"pending_shared\":[],\"pending_connected_team_ids\":[],\"is_pending_ext_shared\":false,\"is_member\":true,\"is_private\":false,\"is_mpim\":false,\"topic\":{\"value\":\"\",\"creator\":\"\",\"last_set\":0},\"purpose\":{\"value\":\"\",\"creator\":\"\",\"last_set\":0},\"previous_names\":[],\"num_members\":2},{\"id\":\"CV32RK43B\",\"name\":\"random\",\"is_channel\":true,\"is_group\":false,\"is_im\":false,\"created\":1584118276,\"is_archived\":false,\"is_general\":false,\"unlinked\":0,\"name_normalized\":\"random\",\"is_shared\":false,\"parent_conversation\":null,\"creator\":\"UVCM2RN84\",\"is_ext_shared\":false,\"is_org_shared\":false,\"shared_team_ids\":[\"T0101B8GP38\"],\"pending_shared\":[],\"pending_connected_team_ids\":[],\"is_pending_ext_shared\":false,\"is_member\":false,\"is_private\":fals[...]
