{
  "log": {
    "_recordingName": "build-channel-member-relationships",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "d3eeeba4e36ec2c0ecaf017c913f008f",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "token=fake-token"
          },
          "queryString": [],
          "url": "https://slack.com/api/conversations.list"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 2454,
            "text": "{\"ok\":true,\"channels\":[{\"id\":\"C060B5BQQJV\",\"name\":\"random\",\"is_channel\":true,\"is_group\":false,\"is_im\":false,\"is_mpim\":false,\"is_private\":false,\"created\":1696530125,\"is_archived\":false,\"is_general\":false,\"unlinked\":0,\"name_normalized\":\"random\",\"is_shared\":false,\"is_org_shared\":false,\"is_pending_ext_shared\":false,\"pending_shared\":[],\"context_team_id\":\"T05V9J9TL4D\",\"updated\":1696530125423,\"parent_conversation\":null,\"creator\":\"U05VCG0SD6E\",\"is_ext_shared\":false,\"shared_team_ids\":[\"T05V9J9TL4D\"],\"pending_connected_team_ids\":[],\"is_member\":false,\"topic\":{\"value\":\"\",\"creator\":\"\",\"last_set\":0},\"purpose\":{\"value\":\"This channel is for... well, everything else. It\\u2019s a place for team jokes, spur-of-the-moment ideas, and funny GIFs. Go wild!\",\"creator\":\"U05VCG0SD6E\",\"last_set\":1696530125},\"previous_names\":[],\"num_members\":1},{\"id\":\"C060B5EDJEM\",\"name\":\"test\",\"is_channel\":true,\"is_group\":false,\"is_im\":false,\"is_mpim\":false,\"is_private\":false,\"created\":1696530155,\"is_archived\":false,\"is_general\":false,\"unlinked\":0,\"name_normalized\":\"test\",\"is_shared\":false,\"is_org_shared\":false,\"is_pending_ext_shared\":false,\"pending_shared\":[],\"context_team_id\":\"T05V9J9TL4D\",\"updated\":1696530155616,\"parent_conversation\":null,\"creator\":\"U05VCG0SD6E\",\"is_ext_shared\":false,\"shared_t[...]
