{
  "log": {
    "_recordingName": "fetch-users",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "30398aa636eda3e1b1c8592ea609dd8a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "token=fake-token"
          },
          "queryString": [],
          "url": "https://slack.com/api/users.list"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 19419,
            "text": "{\"ok\":true,\"members\":[{\"id\":\"USLACKBOT\",\"team_id\":\"TG02V6N5C\",\"name\":\"slackbot\",\"deleted\":false,\"color\":\"757575\",\"real_name\":\"Slackbot\",\"tz\":null,\"tz_label\":\"Pacific Daylight Time\",\"tz_offset\":-25200,\"profile\":{\"title\":\"\",\"phone\":\"\",\"skype\":\"\",\"real_name\":\"Slackbot\",\"real_name_normalized\":\"Slackbot\",\"display_name\":\"Slackbot\",\"display_name_normalized\":\"Slackbot\",\"fields\":null,\"status_text\":\"\",\"status_emoji\":\"\",\"status_expiration\":0,\"avatar_hash\":\"sv41d8cd98f0\",\"always_active\":true,\"first_name\":\"slackbot\",\"last_name\":\"\",\"image_24\":\"https:\\/\\/a.slack-edge.com\\/80588\\/img\\/slackbot_24.png\",\"image_32\":\"https:\\/\\/a.slack-edge.com\\/80588\\/img\\/slackbot_32.png\",\"image_48\":\"https:\\/\\/a.slack-edge.com\\/80588\\/img\\/slackbot_48.png\",\"image_72\":\"https:\\/\\/a.slack-edge.com\\/80588\\/img\\/slackbot_72.png\",\"image_192\":\"https:\\/\\/a.slack-edge.com\\/80588\\/marketing\\/img\\/avatars\\/slackbot\\/avatar-slackbot.png\",\"image_512\":\"https:\\/\\/a.slack-edge.com\\/80588\\/img\\/slackbot_512.png\",\"status_text_canonical\":\"\",\"team\":\"TG02V6N5C\"},\"is_admin\":false,\"is_owner\":false,\"is_primary_owner\":false,\"is_restricted\":false,\"is_ultra_restricted\":false,\"is_bot\":false,\"is_app_user\":false,\"updated\":0},{\"id\":\"UFY2WMA8Y\",\"team_id\":\"TG02V6N5C\",\"name\":\"erich.smith\",\"deleted\":false,\"color\":\"4bbe2e\",\"real_name\":\"Erich Smith\",\"tz\":\"America\\/New_York\",\"tz_label\":\"Eastern Daylight Time\",\"tz_offset\":-14400,\"profile\":{\"title\":\"\",\"phone\":\"\",\"skype\":\"\",\"real_name\":\"Erich Smith\",\"real_name_normalized\":\"Erich Smith\",\"display_name\":\"\",\"display_name_normalized\":\"\",\"status_text\":\"\",\"status_emoji\":\"\",\"status_expiration\":0,\"avatar_hash\":\"g440cf2eca81\",\"email\":\"erich.smith@lifeomic.com\",\"image_24\":\"https:\\/\\/secure.gravatar.com\\/avatar\\/c9440cf2eca8189c31e2699c9d8e0b8d.jpg?s=24&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0002-24.png\",\"image_32\":\"https:\\/\\/secure.gravatar.com\\/avatar\\/c9440cf2eca8189c31e2699c9d8e0b8d.jpg?s=32&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0002-32.png\",\"image_48\":\"https:\\/\\/secure.gravatar.com\\/avatar\\/c9440cf2eca8189c31e2699c9d8e0b8d.jpg?s=48&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0002-48.png\",\"image_72\":\"https:\\/\\/secure.gravatar.com\\/avatar\\/c9440cf2eca8189c31e2699c9d8e0b8d.jpg?s=72&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0002-72.png\",\"image_192\":\"https:\\/\\/secure.gravatar.com\\/avatar\\/c9440cf2eca8189c31e2699c9d8e0b8d.jpg?s=192&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0002-192.png\",\"image_512\":\"https:\\/\\/secure.gravatar.com\\/avatar\\/c9440cf2eca8189c31e2699c9d8e0b8d.jpg?s=512&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0002-512.png\",\"status_text_canonical\":\"\",\"team\":\"TG02V6N5C\"},\"is_admin\":false,\"is_owner\":false,\"is_primary_owner\":false,\"is_restricted\":false,\"is_ultra_restricted\":false,\"is_bot\":false,\"is_app_user\":false,\"updated\":1569156314,\"has_2fa\":false},{\"id\":\"UFYGQLX27\",\"team_id\":\"TG02V6N5C\",\"name\":\"austin.rausch\",\"deleted\":false,\"color\":\"9f69e7\",\"real_name\":\"Austin Rausch\",\"tz\":\"America\\/Denver\",\"tz_label\":\"Mountain Daylight Time\",\"tz_offset\":-21600,\"profile\":{\"title\":\"\",\"phone\":\"\",\"skype\":\"\",\"real_name\":\"Austin Rausch\",\"real_name_normalized\":\"Austin Rausch\",\"display_name\":\"\",\"display_name_normalized\":\"\",\"status_text\":\"\",\"status_emoji\":\"\",\"status_expiration\":0,\"a[...]
