{
  "log": {
    "_recordingName": "fetch-channels-with-users",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "d3eeeba4e36ec2c0ecaf017c913f008f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "token=fake-token"
          },
          "queryString": [],
          "url": "https://slack.com/api/conversations.list"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 3439,
            "text": "{\"ok\":true,\"channels\":[{\"id\":\"CFXTMBK8Q\",\"name\":\"general\",\"is_channel\":true,\"is_group\":false,\"is_im\":false,\"created\":1549382144,\"is_archived\":false,\"is_general\":true,\"unlinked\":0,\"name_normalized\":\"general\",\"is_shared\":false,\"parent_conversation\":null,\"creator\":\"UFYGQLX27\",\"is_ext_shared\":false,\"is_org_shared\":false,\"shared_team_ids\":[\"TG02V6N5C\"],\"pending_shared\":[],\"pending_connected_team_ids\":[],\"is_pending_ext_shared\":false,\"is_member\":true,\"is_private\":false,\"is_mpim\":false,\"topic\":{\"value\":\"Company-wide announcements and work-based matters\",\"creator\":\"UFYGQLX27\",\"last_set\":1549382144},\"purpose\":{\"value\":\"This channel is for workspace-wide communication and announcements. All members are in this channel.\",\"creator\":\"UFYGQLX27\",\"last_set\":1549382144},\"previous_names\":[],\"num_members\":6},{\"id\":\"CFY890NJU\",\"name\":\"githubtesting\",\"is_channel\":true,\"is_group\":false,\"is_im\":false,\"created\":1549398942,\"is_archived\":false,\"is_general\":false,\"unlinked\":0,\"name_normalized\":\"githubtesting\",\"is_shared\":false,\"parent_conversation\":null,\"creator\":\"UFYGQLX27\",\"is_ext_shared\":false,\"is_org_shared\":false,\"shared_team_ids\":[\"TG02V6N5C\"],\"pending_shared\":[],\"pending_connected_team_ids\":[],\"is_pending_ext_shared\":false,\"is_member\":false,\"is_pr[...]
